name: First Workflow
on: workflow_dispatch
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print Greeting
        run: |
          echo "Hello Action"
          echo "------------"
      - name: Print Bye
        run: echo "Done - bye!"
